/* ======================= Global ======================= */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
}

.section {
  padding: 75px 0;
}

.dark-section {
  padding: 75px 0;
  background-color: #030303;
}

h1 {
  color: #ffffff;
  font-family: Forum, sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-family: Forum;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-family: Forum;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin: 0;
}

div {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

a {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 2px;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}
.underline {
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #710707;
}

.open {
  left: 0 !important;
}

body.no-scroll {
  overflow: hidden;
}

/* ======================= Header ======================= */

header {
  background-color: #030303;
  height: 150px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__logo__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  z-index: 100;
}
.header__logo {
  background-image: url(./assets/svg/logo.svg);
  width: 49px;
  height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.header__logo--title {
  color: #fff;
  font-family: Forum;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header__burger {
  display: none;
  align-items: center;
  position: relative;
  width: 32px;
  height: 16px;
  z-index: 50;
}

.header__burger span {
  width: 32px;
  height: 2px;
  background: white;
}

.header__burger::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 32px;
  height: 2px;
  background: white;
  transition: all 0.3s;
}

.header__burger::before {
  content: "";
  position: absolute;
  top: 0;
  width: 32px;
  height: 2px;
  background: white;
  transition: all 0.3s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 30;
}

.header__gallery {
  display: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.header__burger.active span {
  transform: scale(0);
}

.header__burger.active::after {
  bottom: auto;
  transform: rotate(45deg);
}

.header__burger.active::before {
  top: auto;
  transform: rotate(-45deg);
}

.header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
}
.header__list--item {
  color: #fff;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 2px;
  transition: all 0.3s;
}

.header__list--item:hover {
  color: #9d8665;
}

/* ======================= Welcome ======================= */

.welcome {
  background-color: #030303;
}

.welcome__container {
  height: 100%;
  position: relative;
  padding-bottom: 3em;
}

.welcome__content {
  color: #ffffff;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  margin-top: 150px;
  z-index: 2;
}
.welcome_title {
  max-width: 600px;
}
.welcome__text {
  color: #fff;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
}
.welcome__slider {
  margin-left: 440px;
  position: relative;
  z-index: 1;
}
.welcome__slider--item {
  max-width: 100%;
}
.welcome__slider::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: linear-gradient(
    90deg,
    #000 0%,
    rgba(0, 0, 0, 0.5) 16.19%,
    rgba(0, 0, 0, 0) 30.73%
  );
}
.welcome__button {
  display: inline-block;
  padding: 24px 66px;
  border-radius: 10px;
  background: #710707;
  margin-top: 50px;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
  transition: all 0.5s;
}
.welcome__button:hover {
  background-color: #9d8665;
}
.welcome__pagination {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #030303;
  padding: 0 75px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  fill: #030303;
  color: #fff;
  gap: 55px;
  z-index: 2;
}
.welcome__pagination--slides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.welcome__pagination--slides span {
  margin: 0 10px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

.slides__text {
  color: #fff;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

.welcome__pagination--carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.welcome__pagination--button:first-child {
  background-color: #d2b183;
}
.welcome__pagination--button {
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  transition: all 0.3s ease;
}
.welcome__pagination--button:hover {
  background-color: #9d8665;
}
.welcome__pagination--arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

/* ======================= Visiting ======================= */

.visiting {
  padding: 75px 0 72px 0;
}
.visiting__title {
  color: #9d8665;
  margin-bottom: 103px;
}
.visiting__title::after {
  bottom: -28px;
}
.visiting__card__container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 73px;
  column-gap: 60px;
  width: 100%;
}
.visiting__card {
  display: block;
  color: black;
  transition: all 0.3s;
}
.card__title {
  margin-top: 20px;
  margin-bottom: 22px;
}
.card__title::after {
  bottom: -11px;
  width: 68%;
  height: 2px;
  transition: all 0.3s;
}
.visiting__card:hover .card__title::after {
  width: 100%;
}
.card__image {
  width: 440px;
  height: 285px;
}
.card__text {
  font-size: 22px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 10px;
}
.card__text--second {
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: normal;
}

/* ======================= Explore ======================= */
.explore {
  padding: 75px 0 71px 0;
}
.explore__container {
  display: flex;
  flex-direction: row;
  gap: 60px;
  color: #fff;
}
.explore__left {
  display: flex;
  flex-direction: column;
}
.explore__title {
  margin-bottom: 103px;
}
.explore__text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.explore__text-container p {
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 38.5px;
}
.explore__text-container p span {
  color: #caaa7d;
}
.explore__img {
  margin-top: 15px;
  width: 100%;
}

/* ======================= Explore ======================= */

.video {
}
.video__container {
}
.video__secttion--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}
.video__title {
  color: #9d8665;
}
.video__text {
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 38.5px;
  max-width: 720px;
}
.video__secttion--bottom iframe {
  margin-bottom: 30px;
  width: 100%;
  height: 735px;
}
.video__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video__carosuel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 42px;
}
.video__carosuel iframe {
  width: 100%;
  height: 254px;
}
.video__pagination {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.video__pagination--dot {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #999999;
  border-radius: 100px;
  transition: all 0.1s;
}
.video__pagination--dot:first-child {
  background-color: #333333;
}
.video__pagination--dot:hover {
  background-color: #710707;
  transform: scale(1.2);
}
.video__pagination--button-left:hover path {
  fill: #710707;
}
.video__pagination--button-right:hover path {
  fill: #710707;
}

/* ======================= Media ======================= */

@media (max-width: 1480px) {
  .container {
    padding: 0 20px;
  }

  .welcome__slider {
    margin-left: clamp(
      290px,
      calc(
        440px - (calc(1500px - 100vw) / (calc(1500 - 1025) / calc(440 - 290)))
      ),
      440px
    );
  }


  .welcome__content {
    margin-top: clamp(50px, calc(150px - ((1480px - 100vw) / 4.56)), 150px);
  }
  h1 {
    font-size: clamp(50px, calc(80px - ((1480px - 100vw) / 15.2)), 80px);
  }
  .welcome__text {
    font-size: clamp(24px, calc(28px - ((1480px - 100vw) / 114)), 28px);
  }
  .welcome__button {
    margin-top: clamp(25px, calc(50px - ((1480px - 100vw) / 18.24)), 50px);
  }
}

@media (max-width: 1024px) {
  header {
    height: 130px;
  }

  .header__burger {
    display: flex;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 55%;
    top: 50px;
    bottom: 0;
    left: -100%;
    background-color: #000000;
    z-index: 50;
    transition: all 0.5s;
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }

  .header__list {
    flex-direction: column;
    align-items: flex-start;
    padding: 115px 0 0 55px;
    gap: 25px;
  }

  .header__list--item::after {
    content: url(./assets/svg/arrow-menu.svg);
    position: absolute;
    left: 170px;
  }

  .welcome__container {
    padding-bottom: 3.4em;
  }

  .welcome__content {
    margin-top: clamp(10px, calc(50px - ((1025px - 100vw) * 0.15625)), 50px);
  }

  h1 {
    font-size: clamp(40px, calc(50px - ((1025px - 100vw) / 25.6)), 50px);
    line-height: clamp(60px, calc(90px - ((1025px - 100vw) / 8.5333)), 90px);
    min-width: 400px;
  }

  .welcome__text {
    font-size: clamp(20px, calc(24px - ((1025px - 100vw) / 64)), 24px);
  }

  .welcome__button {
    padding: 18px 45px;
    margin-top: clamp(0px, calc(25px - ((1025px - 100vw) / 10.24)), 25px);
    font-size: 20px;
  }

  .welcome__pagination {
    width: 100%;
    height: clamp(100px, calc(120px - ((1025px - 100vw) / 12.8)), 120px);
    justify-content: flex-end;
    gap: 45px;
  }

  .welcome__pagination--button {
    width: 12px;
    height: 12px;
  }

  .slides__text {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  header {
    height: 110px;
  }

  .header__nav {
    -webkit-mask-image: none;
    mask-image: none;
    width: 100%;
    top: 0;
  }

  .header__list {
    padding: 115px 0 0 55px;
  }

  .header__gallery {
    display: grid;
    margin: 35px 55px 150px 55px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }
  .header__img {
    width: 100%;
  }
  .header__img:first-child {
    grid-column: 1 / 3;
  }
  .header__img:nth-child(2) {
    grid-column: 1 / 2;
  }
  .header__img:nth-child(3) {
    grid-column: 2 / 3;
  }

  .header__list {
    flex-direction: column;
    align-items: flex-start;
    padding: 115px 0 0 55px;
    gap: 25px;
  }

  .header__list--item::after {
    position: absolute;
    left: 170px;
  }

  .welcome__container {
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
  }

  .welcome__content {
    position: static;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 50px;
  }

  h1 {
    font-size: clamp(28px, calc(40px - ((768px - 100vw) / 29)), 40px);
    line-height: clamp(40px, calc(60px - ((768px - 100vw) / 17.4)), 60px);
    min-width: 400px;
    text-align: center;
  }

  .welcome__text {
    font-size: clamp(16px, calc(20px - ((768px - 100vw) / 87)), 20px);
  }

  .welcome__button {
    display: none;
  }

  .welcome__slider {
    margin: 0;
  }

  .welcome__slider::before {
    display: none;
  }

  .welcome__pagination {
    position: static;
    width: 100%;
    height: 100px;
    justify-content: center;
    padding: 0;
  }
}

@media (max-width: 420px) {
  header {
    height: 90px;
  }

  .header__logo {
    width: 29px;
    height: 16px;
  }

  .header__logo--title {
    font-size: 16px;
  }

  .header__list {
    padding: 115px 0 0 35px;
  }

  .header__gallery {
    margin: 35px 35px 150px 35px;
  }

  .welcome__pagination {
    position: static;
    width: 100%;
    height: 80px;
    justify-content: center;
    padding: 0;
    gap: 25px;
  }

  .welcome__pagination--button {
    width: 7px;
    height: 7px;
  }

  .welcome__pagination--carousel {
    gap: 10px;
  }

  .slides__text {
    font-size: 16px;
  }
}
