/* ======================= Global ======================= */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.section {
  padding: 75px 0;
}

.dark-section {
  padding: 75px 0;
  background-color: #030303;
}

h1 {
  color: #ffffff;
  font-family: Forum, sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-family: Forum;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-family: Forum;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin: 0;
}

div {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

a {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 2px;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}
.underline {
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #710707;
}

/* ======================= Header ======================= */

header {
  background-color: #030303;
  height: 150px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__logo__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}
.header__logo {
  background-image: url(./assets/svg/logo.svg);
  width: 49px;
  height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.header__logo--title {
  color: #fff;
  font-family: Forum;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
}
.header__list--item {
  color: #fff;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 2px;
  transition: all 0.3s;
}

.header__list--item:hover {
  color: #9d8665;
}

/* ======================= Welcome ======================= */

.welcome {
  height: 810px;
  background-color: #030303;
}

.welcome__container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(./assets/img/main-photo.png);
  background-size: auto;
  background-position: top right;
  background-repeat: no-repeat;
}
.welcome__content {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  margin-top: 150px;
}
.welcome_title {
  max-width: 600px;
}
.welcome__text {
  color: #fff;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
}
.welcome__button {
  display: inline-block;
  padding: 24px 66px;
  border-radius: 10px;
  background: #710707;
  margin-top: 50px;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
  transition: all 0.5s;
}
.welcome__button:hover {
  background-color: #9d8665;
}
.welcome__pagination {
  background-color: #030303;
  padding: 40px 75px;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  fill: #030303;
  color: #fff;
  gap: 55px;
}
.welcome__pagination--slides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.welcome__pagination--slides span {
  margin: 0 10px;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.slides__text {
  color: #fff;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 181.818% */
  text-transform: uppercase;
}

.welcome__pagination--carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 16px;
}

.welcome__pagination--button:first-child {
  display: block;
  width: 16px;
  height: 16px;
  background-color: #d2b183;
}
.welcome__pagination--button {
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  transition: all 0.3s ease;
}
.welcome__pagination--button:hover {
  background-color: #9d8665;
}
.welcome__pagination--arrows {
  margin-left: 10px;
}

/* ======================= Visiting ======================= */

.visiting {
  padding: 75px 0 72px 0;
}
.visiting__title {
  color: #9d8665;
  margin-bottom: 103px;
}
.visiting__title::after {
  bottom: -28px;
}
.visiting__card__container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 73px;
  column-gap: 60px;
  width: 100%;
}
.visiting__card {
  display: block;
  color: black;
  transition: all 0.3s;
}
.card__title {
  margin-top: 20px;
  margin-bottom: 22px;
}
.card__title::after {
  bottom: -11px;
  width: 68%;
  height: 2px;
  transition: all 0.3s;
}
.visiting__card:hover .card__title::after {
  width: 100%;
}
.card__image {
  width: 440px;
  height: 285px;
}
.card__text {
  font-size: 22px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 10px;
}
.card__text--second {
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: normal;
}

/* ======================= Explore ======================= */

.explore__container {
  display: flex;
  flex-direction: row;
  gap: 60px;
  color: #fff;
}
.explore__left {
  display: flex;
  flex-direction: column;
}
.explore__title {
  margin-bottom: 103px;
}
.explore__text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.explore__text-container p {
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 38.5px;
}
.explore__text-container p span {
  color: #caaa7d;
}
.explore__img {
  margin-top: 15px;
}

/* ======================= Explore ======================= */

.video {
}
.video__container {
}
.video__secttion--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 75px;
}
.video__title {
  color: #9d8665;
}
.video__text {
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 38.5px;
  max-width: 720px;;
}
.video__secttion--bottom {
}
.video__secttion--bottom iframe {
  margin-bottom: 40px;
}
.video__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video__carosuel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.video__pagination {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.video__pagination--dot{
  display: block;
  width: 12px;
  height: 12px;
  background-color: #999999;
  border-radius: 100px;
  transition: all 0.1s;
}
.video__pagination--dot:first-child {
  background-color: #333333;
}
.video__pagination--dot:hover{
  background-color: #710707;
  transform: scale(1.2)
}
.video__pagination--button-left:hover path{
  fill: #710707;
}
.video__pagination--button-right:hover path{
  fill: #710707;
}
